* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-container {
    position: relative;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-trigger {
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid !important;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto; /* Strictly for positioning */
}

.menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
}

.menu-trigger img {
    border-radius: 90px;
}

.menu {
    z-index: 11;
    background: #161e21;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .55);
    position: absolute;
    top: 35px;
    right: 0px;    
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 11;
    background-color: #161e21;
}

.fa-caret-down.active {
    transform: rotate(180deg);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.fa-caret-down.inactive {
    transform: rotate(0deg);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li:not(:last-child) {
    border-bottom: 1px solid #dddddd;
}

.menu li a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: rgba(255, 255, 255, .55);
    padding: 15px 20px;
    display: block;
}

.menu li a:hover {    
    color: white;  
}

.fa-caret-down {
    font-size: 20px;
}