.home-main-div{
    background-image: url(../../assets/img/bg.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    padding-bottom: 30px;
}

.first-section-btn{
    padding: 8px 40px;
    border: 1px solid #D11717;
    background-color: #D11717;
    color: #fff;
}

.first-section-btn:hover{
    border: 1px solid #D11717;
    background-color: #D11717;
    color: #fff;
}

.find-vehicle-div{
    padding: 75px 25px;
    background-color: rgba(22, 30, 33, 0.9);
    color: #fff;
    margin-bottom: 20px;
}

.css-26l3qy-menu div  {
    color: rgba(255, 255, 255, .55) !important;
    background: #000 !important;
    cursor: pointer;
}

.css-1hb7zxy-IndicatorsContainer{
    cursor: pointer;
}

.css-qc6sy-singleValue {
 color: #fff !important;
}

.css-1s2u09g-control, .css-1pahdxg-control {
    color: #fff !important;
    background: rgba(255, 255, 255, .1) !important;
    border: none !important;
    margin-bottom: 20px;
}

.css-1pahdxg-control:hover{
    border: none !important;
}

.home-select-div{
    padding: 30px;
}
.home-row-div{
    padding-top: 100px;
}

.adv_search_btn{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
}
.adv_search_btn:hover{
    color: #fff;
}
.show_search{
    display: block;
}
.hide_search{
    display: none;
}
