.monitor_main {
    background-color: rgba(22, 30, 33, 1);
    border: 1px solid rgb(36, 49, 54);
    padding: 20px;
    margin: 30px 10px 10px 0;
    min-height: 100vh;
}

.monitor_details{
    background-color: rgba(22, 30, 33, 1);
    border: 1px solid rgb(36, 49, 54);
    padding: 20px;
    margin: 30px 10px 10px 0;
}

.monitor_main p , .vehicle-detail p{
    font-size: 15px;
    color: #555555;
}

.monitor_main span, .vehicle-detail span{
    color: #fff;
}

.monitor_details h5{
    color: #fff;
    font-weight: 600;
}

.vehicle-detail{
    background-color: rgba(22, 30, 33, 1);
    border: 1px solid rgb(36, 49, 54);
    padding: 20px;
    margin: 30px 10px 10px 0;
}

