.header-row {
    justify-content: space-between;
    align-items: center;
}

.header-div{
    padding: 25px 15px 25px 15px;
    background-color: #0e1315;
}
.headers-button button{
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 14px;
    color: rgba(255, 255, 255, .55);
    letter-spacing: 0;
    font-weight: 700;
    line-height: 14px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.headers-button span {
    line-height: 14px;
    font-size: 13px;
}

.headers-button button:hover{
    color: #fff;
}

.Navbar-header {
    position: relative;
    background-color: #df1d1d!important;
}

.Navbar-header-section{
    margin:0 auto;
}
.nav-link{
    color: #fff !important;
    margin-right: 22px;
    text-align: center;
}

.modal_btn{
    margin-top: 10px;
}

.modal_main_div{
    background-color: #161E21;
    color: #fff;
}

.modal-content {
    border: none;
}

.modal-dialog{
    height: 100%;
    display: flex;
    align-items: center;
}
/*responsive*/
.headers-button {    
    align-items: center;
}

.divider{
    position: relative;
}

.divider::after{
    content: "";
    border: 1px solid #838383;
    position: absolute;
    height: 40px;
    bottom: 25px;
    right: 26px;;
}

.divider::before{
    content: "";
    border: 1px solid #838383;
    position: absolute;
    height: 40px;
    top: 32px;
    right: 26px;
}

.social_btn {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 6px 0;
    margin-bottom: 20px;
}

.fb_btn{
    background-color: #4267B2;
}

.twitter_btn{
    background-color: #2a81d1;
}

.google_btn{
    background-color: #c72b2b;
}
@media (max-width: 992px) {
    .divider{
        display: none;
    }
}

@media (max-width: 768px) {
    .social_btn_main{
        margin-top: 20px;
    }
}