.user_info_main {
  min-height: 100vh;
}

.user_info {
  background-color: rgba(22, 30, 33, 1);
  border: 1px solid rgb(36, 49, 54);
  padding: 20px;
  margin: 20px 10px 20px 0;
  height: auto;
}

.user_info p {
  font-size: 15px;
  color: #555555;
}

.user_info h5 {
  color: #fff;
  font-weight: 600;
}

.user_info span {
  color: #fff;
}

.ad_data {
  border: 1px solid rgb(36, 49, 54);
  padding: 20px;
  margin: 30px 10px 30px 0;
}
.ad_list {
  overflow-y: scroll;
  max-height: 500px;
  min-height: 236px;
}
