.car_details_main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.car_title{
    background-color: rgba(22, 30, 33, 1);
    border: 1px solid rgb(36, 49, 54);
    padding: 20px;
    margin: 0 10px 10px 0;
    height: 100%;
}
.car_title p , .car_desc p{
    font-size: 15px;
    color: #555555;
}
.car_title span , .car_desc span{
    color: #fff;
}