.car_details_main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.car_title{
    background-color: rgba(22, 30, 33, 1);
    border: 1px solid rgb(36, 49, 54);
    padding: 20px;
    margin: 0 10px 10px 0;
    height: 100%;
}
.car_title p , .car_desc p{
    font-size: 15px;
    color: #555555;
}
.car_title span , .car_desc span{
    color: #fff;
}
.search_btn{
    max-width:120px;
}

.image-block img {
    width: 100%;
    max-height: 160px;
    object-fit: scale-down;
}

.all-images {
    margin-bottom: 22px;
}

.all-images .image-block {
    background: #161e21;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    height: 160px;
    object-fit: scale-down;
}
.delete-link{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: #717171;
    border-radius: 3px;
}
.search_btn {
    display: block;
    margin: auto;
}
.pt-95{
    padding-top: 95px;
}